// Variables
// Font sizes
$size-title: 4.2rem;
$size-subtitle: 3.6rem;
$size-paragraph: 2.4rem;
$size-auxiliar: 1.6rem;
// Font weights
$bold: 700;
$semibold: 600;
$regular: 400;
$light: 300;
// Colors
$dark: #06113C;
$orange: #FF8C32;
$gray: #B6B6B6;
$light-gray: #EEE;

// Reset default values
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Rajdhani', sans-serif;
}

body {
    background-color: $light-gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //height: 100vh;
    padding: 0 3rem;
}
// Titles
.header {
    h1 {
        font-size: $size-title;
        font-weight: $bold;
        color: $dark;
        span {
            color: $orange;
        }
    }
    h2 {
        font-size: $size-subtitle;
        font-weight: $semibold;
        color: $dark;
    }
}

// Switcher
.switch {
    position: relative;
    width: 20rem;
    height: 3rem;
    border-radius: 5rem;
    input {
        appearance: none;
        width: 20rem;
        height: 3rem;
        border-radius: 5rem;
        border: .1rem solid $dark;
        background-color: $light-gray;
        transition: 0.25s;
    }
    input::before,
    input::after {
        z-index: 2;
        position: absolute;
        top: 16%;
        transform: translate(-50%);
        font-size: $size-auxiliar;
        font-weight: $semibold;
    }
    input::before {
        content: 'Porcentaje';
        left: 5rem;
    }
    input::after {
        content: 'Descuento';
        right: -3.1rem;
    }
    input:checked {
        background-color: $light-gray;
    }
    input:checked::after,
    input:checked::before {
        color: $dark;
        transition: 0.1s;
    }
    label {
        z-index: 1;
        position: absolute;
        top: 0rem;
        bottom: 0rem;
        border-radius: 5rem;
    }
    input:checked + label {
        left: 0rem;
        right: 10rem;
        background-color: $dark;
        transition: left 0.1s, right 0.1s 0.2s;
    }
    input:not(:checked) {
        background-color: $light-gray;
        transition: background 0.4s;
    }
    input:not(:checked)::before {
        color: $dark;
        transition: color 0.2s;
    }
    input:not(:checked)::after {
        color: $light-gray;
        transition: color 0.1s 0.1s;
    }
    input:checked::before {
        color: $light-gray;
    }
    input:not(:checked) + label {
        left: 10rem;
        right: 0rem;
        background-color: $dark;
        transition: left 0.2s 0.1s, right 0.2s;
    }
}

// Form
.percentage {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    label {
        font-size: $size-paragraph;
        color: $dark;
    }
    input {
        height: 5rem;
        width: 100%;
        max-width: 36rem;
        padding: 1rem;
    }
    input::placeholder {
        font-size: $size-paragraph;
        font-weight: $light;
        color: $gray;
    }
}