// Variables
// Font sizes
$size-title: 4.2rem;
$size-subtitle: 3.6rem;
$size-paragraph: 2.4rem;
$size-auxiliar: 1.6rem;
// Font weights
$bold: 700;
$semibold: 600;
$regular: 400;
$light: 300;
// Colors
$dark: #06113C;
$orange: #FF8C32;
$gray: #B6B6B6;
$light-gray: #EEE;

// Reset default values
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Rajdhani', sans-serif;
}

body {
    background-color: $light-gray;
}
// Titles
.header {
    h1 {
        font-size: $size-title;
        font-weight: $bold;
        color: $dark;
        span {
            color: $orange;
        }
    }
    h2 {
        font-size: $size-subtitle;
        font-weight: $semibold;
        color: $dark;
    }
}

.switcher {
    display: flex;
    //position: relative;
    height: 3rem;
    width: 20rem;
    border: .1rem solid $dark;
    border-radius: 3rem;
    font-size: $size-auxiliar;
    font-weight: $semibold;
    color: $dark;
    text-align: center;
    input {
        opacity: 0;
        width: 0;
        height: 0;
    }
    .percentage,
    .discount {
        cursor: pointer;
        //position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2.8rem;
        width: 10rem;
        transition: 0.2s;
        user-select: none;
    }
    .percentage {
        background-color: $dark;
        border-radius: 3rem;
        color: $light-gray;
    }
}